.vscode/
__pycache__/
dtw-master/
dtw.egg-info/
data_bvh/
data_converted/
data_trajectory/
test.py
graph.py
graf2.py
graph2.py
prepis.py
test_sc.py
bvh_actual/
source_data/
source_words/
bvh_dict/
data/meta.pkl
data/traj.pkl
data/paths.txt
data/paths_.txt
output_files/final/
output_files/old_files/