.vscode/
.gitignore
dtw-master/
dtw.egg-info/
data_bvh/
data_converted/
data_trajectory/
test.py
prepis.py
bvh_actual/
source_data/
source_words/
bvh_dict/
data/meta.pkl
data/traj.pkl
output_files/final/